# Project exclude paths
#/.gradle/
#/module-core/build/
#/module-core/build/classes/java/main/
#/module-core/build/classes/java/test/
#/module-core/src/main/resources/static/node_modules/

#*.properties
# Project exclude paths
#/build/
#/build/classes/java/main/
#/build/classes/java/test/
#/src/main/resources/static/node_modules/
/src/test/
